// ================== LIGHT MODE ========================
$light-mode-background-color: #ffffff;
$light-mode-font-color: #313131;
$light-mode-link-color: #2d2d33;
$light-mode-link-hover-color: #189ad3;

// light icon colors
$light-mode-projects-menu-icon-color: #3d3d3d;
$light-mode-projects-menu-icon-hover-color: #808080;
$light-mode-posts-menu-icon-color: #3d3d3d;
$light-mode-posts-menu-icon-hover-color: #ee5f5b;
$light-mode-languages-menu-icon-color: #3d3d3d;
$light-mode-languages-menu-icon-hover-color: #72cc96;
$light-mode-mode-menu-icon-color: #3d3d3d;
$light-mode-mode-menu-icon-hover-color: #d4d4d4;

// homepage icon link colors
$light-mode-homepage-icon-link-color: #3d3d3d;

// .post-list colors
$light-mode-post-title-underline-color: #189ad3;
$light-mode-post-list-border-bottom-color: #cccccc;
$light-mode-post-list-date-color: #189ad3;
$light-mode-post-list-tags-font-color: #474747;

// .post-list tags box colors
$light-mode-tags-li-background-color: #f2f2f2;
$light-mode-tags-li-font-color: #474747;
$light-mode-tags-li-a-font-color: #ffffff;

// .change-language section colors
$light-mode-change-language-section-background-color: #ececec;
$light-mode-change-language-section-font-color: #5b5b5b;
$light-mode-change-language-section-border-color: #d8d8d8;

// .about-info font colors
$light-mode-about-info-h-color: #2d2d33;
$light-mode-about-info-p-color: #313131;

// .inner-post font colors
$light-mode-inner-post-h-color: #2d2d33;
$light-mode-inner-post-p-color: #313131;

// .date-highlight colors
$light-mode-date-highlight-font-color: #999999;
$light-mode-date-highlight-before-background-color: #189ad3;
$light-mode-date-highlight-after-background-color: #189ad3;

// .entry-meta colors
$light-mode-entry-meta-a-color: #2d2d33;
$light-mode-entry-meta-tag-category-background-color: #e6e6e6;
$light-mode-entry-meta-tag-category-hover-color: #cdcdcd;
$light-mode-entry-meta-count-background-color: #cdcdcd;

// .tag-heading .tagged colors
$light-mode-tag-heading-tagged-font-color: #000000;

// .pagination_pager colors
$light-mode-pagination-pager-enabled-background-color: #d9d9d9;
$light-mode-pagination-pager-enabled-font-color: #737373;
$light-mode-pagination-pager-enabled-hover-background-color: #189ad3;
$light-mode-pagination-pager-enabled-hover-font-color: #ffffff;
$light-mode-pagination-pager-disabled-background-color: #e6e6e6;
$light-mode-pagination-pager-disabled-font-color: #8c8c8c;
$light-mode-pagination-pager-disabled-hover-background-color: #f2f2f2;
$light-mode-pagination-pager-disabled-hover-font-color: #bfbfbf;

// code block colors
$light-mode-code-block-background-color: darken(#ffffff, 15%);

// definition lists colors
$light-mode-dt-background-color: darken(#ffffff, 5%);
$light-mode-dt-border-color: darken(#ffffff, 7%);
$light-mode-dd-border-color: darken(#ffffff, 7%);

// blockquotes colors
$light-mode-blockquote-border-color: darken(#d4d4d4, 15%);

// table colors
$light-mode-table-border-color: darken(#ffffff, 7%);
$light-mode-thead-border-color: darken(#ffffff, 7%);
$light-mode-thead-background-color: darken(#ffffff, 5%);

// ================== DARK MODE ========================
$dark-mode-background-color: #141d26;
$dark-mode-font-color: #d9d9d9;
$dark-mode-link-color: #ffffff;
$dark-mode-link-hover-color: #189ad3;


// dark icon colors
$dark-mode-projects-menu-icon-color: #d4d4d4;
$dark-mode-projects-menu-icon-hover-color: #808080;
$dark-mode-posts-menu-icon-color: #d4d4d4;
$dark-mode-posts-menu-icon-hover-color: #ee5f5b;
$dark-mode-languages-menu-icon-color: #d4d4d4;
$dark-mode-languages-menu-icon-hover-color: #72cc96;
$dark-mode-mode-menu-icon-color: #d4d4d4;
$dark-mode-mode-menu-icon-hover-color: #f3dd1a;

// homepage icon link colors
$dark-mode-homepage-icon-link-color: #d4d4d4;

// .post-list colors
$dark-mode-post-title-underline-color: #189ad3;
$dark-mode-post-list-border-bottom-color: #333;
$dark-mode-post-list-date-color: #189ad3;
$dark-mode-post-list-tags-font-color: #ffffff;

// .post-list tags box colors
$dark-mode-tags-li-background-color: #595959;
$dark-mode-tags-li-font-color: #b8b8b8;
$dark-mode-tags-li-a-font-color: #ffffff;

// .change-language section colors
$dark-mode-change-language-section-background-color: #1f1f1f;
$dark-mode-change-language-section-font-color: #bbbbbb;
$dark-mode-change-language-section-border-color: #525252;

// .about-info font colors
$dark-mode-about-info-h-color: #ffffff;
$dark-mode-about-info-p-color: #d9d9d9;

// .inner-post font colors
$dark-mode-inner-post-h-color: #ffffff;
$dark-mode-inner-post-p-color: #d9d9d9;

// .date-highlight colors
$dark-mode-date-highlight-font-color: #999999;
$dark-mode-date-highlight-before-background-color: #189ad3;
$dark-mode-date-highlight-after-background-color: #189ad3;

// .entry-meta colors
$dark-mode-entry-meta-a-color: #ffffff;
$dark-mode-entry-meta-tag-category-background-color: #2d2d33;
$dark-mode-entry-meta-tag-category-hover-color: #020202;
$dark-mode-entry-meta-count-background-color: #1a1a1a;

// .tag-heading .tagged colors
$dark-mode-tag-heading-tagged-font-color: #ffffff;

// .pagination_pager colors
$dark-mode-pagination-pager-enabled-background-color: #214c79;
$dark-mode-pagination-pager-enabled-font-color: #ffffff;
$dark-mode-pagination-pager-enabled-hover-background-color: #347fce;
$dark-mode-pagination-pager-enabled-hover-font-color: #ffffff;
$dark-mode-pagination-pager-disabled-background-color: #687d96;
$dark-mode-pagination-pager-disabled-font-color: #ffffff;
$dark-mode-pagination-pager-disabled-hover-background-color: #93b3da;
$dark-mode-pagination-pager-disabled-hover-font-color: #ffffff;

// code block colors
$dark-mode-code-block-background-color: lighten(#000000, 5%);

// definition lists colors
$dark-mode-dt-background-color: darken(#214c79, 15%);
$dark-mode-dt-border-color: darken(#ffffff, 7%);
$dark-mode-dd-border-color: darken(#ffffff, 7%);

// blockquotes colors
$dark-mode-blockquote-border-color: lighten(#214c79, 5%);

// table colors
$dark-mode-table-border-color: darken(#ffffff, 7%);
$dark-mode-thead-border-color: darken(#ffffff, 7%);
$dark-mode-thead-background-color: darken(#214c79, 15%);

// =================== STATIC  =========================
// icon colors
$support-menu-icon-color: #d4d4d4;
$support-menu-icon-hover-color: #9fedd7;
$about-menu-icon-color: #d4d4d4;
$about-menu-icon-hover-color: #9fedd7;
$legal-menu-icon-color: #d4d4d4;
$legal-menu-icon-hover-color: #9fedd7;

// icon active modes colors
$active-mode-projects-menu-icon-color: #d4d4d4;
$active-mode-projects-menu-icon-hover-color: #808080;
$active-mode-languages-menu-icon-color: #d4d4d4;
$active-mode-languages-menu-icon-hover-color: #808080;

// text selection highlight color
$text-selection-highlight-color: #189ad3;

// homepage icon link color
$homepage-icon-links-color: #d4d4d4;

// social link boxes colors
$social-link-box-background-even-color: #585b63;
$social-link-box-background-odd-color: #c4c4c4;
$social-link-box-background-hover-color: #9fedd7;

// overlay page background colors
$overlay-background-color: #2d2d33;

// .about-info title underline colors
$about-info-title-underline-color: #189ad3;

// .section-title colors
$section-title-font-color: #ffffff;

// .post-title-section tags colors
$post-title-section-tag-li-color: #ffffff;
$post-title-section-tag-li-border-color: #e9e9e9;
$post-title-section-tag-li-a-color: #ffffff;

// .post-title-section .section-line colors
$post-title-section-section-line-color: #189ad3;
$post-title-section-section-line-after-background-color: rgba(#ffffff, 0.4);
$post-title-section-section-line-before-background-color: rgba(#ffffff, 0.4);
$post-title-section-section-line-a-color: #189ad3;
$post-title-section-section-line-a-hover-color: #ffffff;

// .read-progress-bar color
$read-progress-bar-color: #189ad3;
