// ------------------- Font Options ------------------------------

// --------------------- ENGLISH ---------------------------------
$english-home-left-font-family: $english-home-left-font;
$english-home-right-h-font-family: $english-home-right-h-font;
$english-home-right-p-font-family: $english-home-right-p-font;

$english-home-h-font-size: 30px;
$english-home-p-font-size: 21px;
$english-home-h-letter-spacing: 1px;

$english-home-right-h-font-size: 35px;
$english-home-right-p-font-size: 16px;
$english-home-right-h-font-weight: bold;
$english-home-right-p-font-weight: normal;

$english-home-links-font-family: $english-home-links-font;
$english-home-links-font-size: 12px;
$english-home-links-font-weight: 300;

$english-support-link-adjust: 146px;
$english-about-link-adjust: 91px;
$english-legal-link-adjust: 34px;
$english-mode-link-adjust: 213px;
$english-languages-link-adjust: 141px;
$english-posts-link-adjust: 93px;
$english-projects-link-adjust: 24px;

$english-mode-link-no-adjacent-icon-adjust: 149px;
$english-about-link-no-adjacent-icon-adjust: 32px;
$english-support-link-no-adjacent-icon-adjust: 86px;
$english-support-link-no-icon-adjust: 26px;

$english-section-title-font-family: $english-section-title-font;
$english-section-title-font-size: 100px;
$english-section-title-font-weight: normal;

$english-date-font-family: $english-date-font;
$english-date-font-size: 15px;
$english-date-font-weight: normal;

$english-date-highlight-font-family: $english-date-highlight-font;
$english-date-highlight-font-size: 17px;
$english-date-highlight-font-weight: normal;

$english-post-list-title-font-family: $english-post-list-title-font;
$english-post-list-title-font-size: 30px;
$english-post-list-title-font-weight: normal;

$english-post-list-excerpt-font-family: $english-post-list-excerpt-font;
$english-post-list-excerpt-font-size: 15px;
$english-post-list-excerpt-font-weight: 300;

$english-tags-font-family: $english-tags-font;
$english-tags-font-size: 13px;
$english-tags-font-weight: 300;

$english-post-title-section-title-font-size: 50px;
$english-post-title-section-title-font-weight: bold;

$english-post-title-section-tags-font-family: $english-pts-tags-font;
$english-post-title-section-tags-font-size: 18px;
$english-post-title-section-tags-font-weight: 300;

$english-post-title-section-line-font-family: $english-section-line-font;
$english-post-title-section-line-font-size: 25px;
$english-post-title-section-line-font-weight: normal;

$english-change-language-font-family: $english-change-language-font;
$english-change-language-font-size: 15px;
$english-change-language-font-weight: normal;

$english-inner-post-h-font-family: $english-inner-post-h-font;
$english-inner-post-p-font-family: $english-inner-post-p-font;
$english-inner-post-small-font-family: $english-inner-post-small-font;
$english-inner-post-ul-font-family: $english-inner-post-ul-font;

$english-inner-post-h-font-weight: bold;
$english-inner-post-p-font-weight: normal;
$english-inner-post-small-font-weight: 200;
$english-inner-post-ul-font-weight: 200;

$english-inner-post-h1-font-size: 70px;
$english-inner-post-h2-font-size: 30px;
$english-inner-post-h3-font-size: 24.72px;
$english-inner-post-h4-font-size: 22px;
$english-inner-post-h5-font-size: 19.28px;
$english-inner-post-h6-font-size: 18px;

$english-inner-post-p-font-size: 16px;
$english-inner-post-small-font-size: 15px;

$english-footer-area-font-family: $english-footer-area-font;
$english-footer-area-font-size: 14px;
$english-footer-area-font-weight: normal;

$english-pagination-font-family: $english-pagination-font;
$english-pagination-font-size: 13px;
$english-pagination-font-weight: normal;

$english-btn-font-family: $english-btn-font;
$english-btn-font-size: 0.8em;
$english-btn-font-weight: normal;

// --------------------- FARSI ---------------------------------

$farsi-home-left-font-family: $farsi-home-left-font;
$farsi-home-right-h-font-family: $farsi-home-right-h-font;
$farsi-home-right-p-font-family: $farsi-home-right-p-font;

$farsi-home-h-font-size: 30px;
$farsi-home-p-font-size: 19px;
$farsi-home-h-letter-spacing: normal;

$farsi-home-right-h-font-size: 35px;
$farsi-home-right-p-font-size: 15px;
$farsi-home-right-h-font-weight: bold;
$farsi-home-right-p-font-weight: normal;


$farsi-home-links-font-family: $farsi-home-links-font;
$farsi-home-links-font-size: 12px;
$farsi-home-links-font-weight: 300;


$farsi-support-link-adjust: 156px;
$farsi-about-link-adjust: 85px;
$farsi-legal-link-adjust: 35px;
$farsi-mode-link-adjust: 219px;
$farsi-languages-link-adjust: 161px;
$farsi-posts-link-adjust: 84px;
$farsi-projects-link-adjust: 32px;

$fa-mode-link-no-adjacent-icon-adjust: 155px;
$farsi-about-link-no-adjacent-icon-adjust: 27px;
$farsi-support-link-no-adjacent-icon-adjust: 95px;
$farsi-support-link-no-icon-adjust: 35px;

$farsi-section-title-font-family: $farsi-section-title-font;
$farsi-section-title-font-size: 100px;
$farsi-section-title-font-weight: normal;

$farsi-date-font-family: $farsi-date-font;
$farsi-date-font-size: 17px;
$farsi-date-font-weight: 300;

$farsi-date-highlight-font-family: $farsi-date-highlight-font;
$farsi-date-highlight-font-size: 17px;
$farsi-date-highlight-font-weight: 300;

$farsi-post-list-title-font-family: $farsi-post-list-title-font;
$farsi-post-list-title-font-size: 30px;
$farsi-post-list-title-font-weight: bold;

$farsi-post-list-excerpt-font-family: $farsi-post-list-excerpt-font;
$farsi-post-list-excerpt-font-size: 15px;
$farsi-post-list-excerpt-font-weight: normal;

$farsi-tags-font-family: $farsi-tags-font;
$farsi-tags-font-size: 14px;
$farsi-tags-font-weight: 100;

$farsi-post-title-section-title-font-size: 50px;
$farsi-post-title-section-title-font-weight: bold;

$farsi-post-title-section-tags-font-family: $farsi-pts-tags-font;
$farsi-post-title-section-tags-font-size: 15px;
$farsi-post-title-section-tags-font-weight: normal;

$farsi-post-title-section-line-font-family: $farsi-section-line-font;
$farsi-post-title-section-line-font-size: 25px;
$farsi-post-title-section-line-font-weight: normal;

$farsi-change-language-font-family: $farsi-change-language-font;
$farsi-change-language-font-size: 15px;
$farsi-change-language-font-weight: 300;

$farsi-inner-post-h-font-family: $farsi-inner-post-h-font;
$farsi-inner-post-p-font-family: $farsi-inner-post-p-font;
$farsi-inner-post-small-font-family: $farsi-inner-post-small-font;
$farsi-inner-post-ul-font-family: $farsi-inner-post-ul-font;

$farsi-inner-post-h-font-weight: bold;
$farsi-inner-post-p-font-weight: normal;
$farsi-inner-post-small-font-weight: normal;
$farsi-inner-post-ul-font-weight: 300;

$farsi-inner-post-h1-font-size: 70px;
$farsi-inner-post-h2-font-size: 30px;
$farsi-inner-post-h3-font-size: 24.72px;
$farsi-inner-post-h4-font-size: 22px;
$farsi-inner-post-h5-font-size: 19.28px;
$farsi-inner-post-h6-font-size: 18px;

$farsi-inner-post-p-font-size: 18px;
$farsi-inner-post-small-font-size: 16px;

$farsi-footer-area-font-family: $farsi-footer-area-font;
$farsi-footer-area-font-size: 15px;
$farsi-footer-area-font-weight: normal;

$farsi-pagination-font-family: $farsi-pagination-font;
$farsi-pagination-font-size: 13px;
$farsi-pagination-font-weight: normal;

$farsi-btn-font-family: $farsi-btn-font;
$farsi-btn-font-size: 0.8em;
$farsi-btn-font-weight: normal;
