// ------------ Language Fonts ---------------

$base-font: 'Ubuntu', 'Vazir', sans-serif;
// this fonts will be used to show code blocks in your blog
// backup font is monospace
$code-font: 'Vazir Code Hack', monospace;

// ------- Language Specific Fonts ----------
// ---------------- English -----------------
$english-base-font: 'Ubuntu';
$english-home-left-font: 'Titillium Web';
$english-home-right-h-font: 'Titillium Web';
$english-home-right-p-font: 'Ubuntu';
$english-home-links-font: 'Titillium Web';
$english-section-title-font: 'Titillium Web';
$english-date-font: 'Ubuntu';
$english-date-highlight-font: 'Ubuntu';
$english-post-list-title-font: 'Titillium Web';
$english-post-list-excerpt-font: 'Ubuntu';
$english-tags-font: 'Titillium Web';
$english-pts-tags-font: 'Titillium Web';
$english-section-line-font: 'Titillium Web';
$english-change-language-font: 'Ubuntu';
$english-inner-post-h-font: 'Titillium Web';
$english-inner-post-p-font: 'Ubuntu';
$english-inner-post-small-font: 'Ubuntu';
$english-inner-post-ul-font: 'Ubuntu';
$english-footer-area-font: 'Titillium Web';
$english-pagination-font: 'Titillium Web';
$english-btn-font: 'Titillium Web';

//---------------- Farsi --------------------

$farsi-base-font: 'Vazir';
$farsi-home-left-font: 'Vazir';
$farsi-home-right-h-font: 'Sahel';
$farsi-home-right-p-font: 'Vazir';
$farsi-home-links-font: 'Vazir';
$farsi-section-title-font: 'Sahel';
$farsi-date-font: 'Vazir';
$farsi-date-highlight-font: 'Vazir';
$farsi-post-list-title-font: 'Sahel';
$farsi-post-list-excerpt-font: 'Vazir';
$farsi-tags-font: 'Vazir';
$farsi-pts-tags-font: 'Sahel';
$farsi-section-line-font: 'Sahel';
$farsi-change-language-font: 'Vazir';
$farsi-inner-post-h-font: 'Sahel';
$farsi-inner-post-p-font: 'Vazir';
$farsi-inner-post-small-font: 'Vazir';
$farsi-inner-post-ul-font: 'Vazir';
$farsi-footer-area-font: 'Sahel';
$farsi-pagination-font: 'Sahel';
$farsi-btn-font: 'Sahel';
