h1,h2,h3,h4,h5,h6{
	font-family:'Roboto Slab', serif;
}
p{
	font-family: 'Open Sans', serif;
	text-align:justify;
}
.top-padding-big{
	padding-top:20px;
}
.left-padding-big{
	padding-left:20px;
}
.right-padding-big{
	padding-right:20px;
}
.top-padding-medium{
	padding-top:10px;
}
.btn{
	margin-top:10px;
}
#me{
	border-radius:10px;
}
#last-title{
	text-align:center !important;
	margin-top:10px;
}
#social{
	text-align:center !important;
	font-size:3em;
}
#social a{
	color:black;
}
#social a:hover{
	color:#e62f3d;
}
#social a:visited{
	color:black;
}
#social a:visited:hover{
	color:#e62f3d;
}
p a{
	color:black;
}
p a:hover{
	color:#e62f3d;
}
p a:visited{
	color:black;
}
p a:visited:hover{
	color:#e62f3d;
}