@import url(fontiran.css); /* لینک فایلی که وظیفه بارگذاری فونت ها را برعهده دارد */
body {
	font-family: IRANSansX  !important;
	direction: rtl;
}
.navbar{
	margin-bottom:50px;
}
.heading{
	font-weight:normal !important;
}
.title{
    padding-top: 10px;
}
li{
	padding-top:10px;
	padding-bottom:10px;
}
h2{
	padding-top:10px;
	padding-bottom:10px;
}
h3{
	padding-top:10px;
	padding-bottom:10px;
}
a {
	color:blue;
	text-decoration: none;
}