{% assign language-localized = site.data.localized-translation[page.lang] %}
{% if page.previous or page.next %}
<nav class="pagination">
  {% if page.previous and page.previous.lang == page.lang %}
  <a class="pagination_pager {{ page.direction-format }} {{ page.lang }} enabled"
     href="{{ site.url }}{{ page.previous.url }}"
     title="{{ page.previous.title | markdownify | strip_html }}">
    {{ language-localized.previous }}
  </a>
  {% else %}
  <a class="pagination_pager {{ page.direction-format }} {{ page.lang }} disabled" href="#">
    {{ language-localized.previous }}
  </a>
  {% endif %}
  {% if page.next and page.next.lang == page.lang %}
  <a class="pagination_pager {{ page.direction-format }} {{ page.lang }} enabled"
     href="{{ site.url }}{{ page.next.url }}"
     title="{{ page.next.title | markdownify | strip_html }}">
    {{ language-localized.next }}
  </a>
  {% else %}
  <a class="pagination_pager {{ page.direction-format }} {{ page.lang }} disabled" href="#">
    {{ language-localized.next }}
  </a>
  {% endif %}
</nav>
{% endif %}
