{% assign language-localized = site.data.localized-translation[page.lang] %}
{% if site.share.facebook and page.share.facebook != false %}
  <a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | absolute_url | url_encode }}"
     class="btn btn_facebook {{ page.direction-format }} {{ page.lang }}"
     title="{{ language-localized.facebook-text }}"
     target="_blank">
    <i class="fab fa-fw fa-facebook-f" aria-hidden="true"></i>
    <span>{{ language-localized.facebook }}</span>
  </a>
{% endif %}

{% if site.share.linkedin and page.share.linkedin != false %}
  <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.url | absolute_url | url_encode }}"
     class="btn btn_linkedin {{ page.direction-format }} {{ page.lang }}"
     title="{{ language-localized.linkedin-text }}"
     target="_blank">
    <i class="fab fa-fw fa-linkedin-in" aria-hidden="true"></i>
    <span>{{ language-localized.linkedin }}</span>
  </a>
{% endif %}

{% if site.share.twitter and page.share.twitter != false %}
  <a href="https://twitter.com/intent/tweet?text={{ page.url | absolute_url | url_encode }}"
     class="btn btn_twitter {{ page.direction-format }} {{ page.lang }}"
     title="{{ language-localized.twitter-text }}"
     target="_blank">
    <i class="fab fa-fw fa-twitter" aria-hidden="true"></i>
    <span>{{ language-localized.twitter }}</span>
  </a>
{% endif %}
